<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Luciole{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Data table CSS -->
    <link href="{{ asset('vendors/bower_components/datatables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Toast CSS -->
    <link href="{{ asset('vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="{{ asset('vendors/bower_components/morris.js/morris.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Chartist CSS -->
    <link href="{{ asset('vendors/bower_components/chartist/dist/chartist.min.css') }}" rel="stylesheet" type="text/css"/>


    <!-- vector map CSS -->
    <link href="{{ asset('vendors/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" type="text/css"/>
    "
    <!-- Custom CSS -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="nav-wrap">

            <div class="mobile-only-brand pull-left">
                <img  src="{{ asset('hencework.com/theme/admintres/img/luciole1.png') }}" style="width: 10%" alt="brand"/>
            </div>
        <br>
        <button  onclick="location.href = 'http://127.0.0.1:8000/register';"  class="btn btn-orange btn-icon left-icon mr-10 pull-right">  <span>Register</span></button>
        <button  onclick="location.href = 'http://127.0.0.1:8000/login';"  class="btn btn-orange btn-icon left-icon mr-10 pull-right">  <span>Login</span></button>


    </div>
</nav>
<!-- navbar -->

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
