{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publicity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publicity.id }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ publicity.iD }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ publicity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publicity.description }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ publicity.video }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ publicity.zone }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if publicity.dateDebut %}{{ publicity.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if publicity.dateFin %}{{ publicity.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publicity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publicity_edit', { 'id': publicity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
