{% extends 'base.html.twig' %}

{% block body %}
    <br><br><br><br><br><br><br><br>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default contact-card card-view">
            <div class="panel-heading bg-orange-light-2">
                <div class="pull-left">
                    <div class="pull-left user-img-wrap mr-15">
                        <img class="card-user-img img-circle pull-left" src="{{ asset('hencework.com/theme/admintres/img/user.png') }}" alt="user"/>
                    </div>
                    <div class="pull-left user-detail-wrap">
											<span class="block card-user-name">
												Amine Gongi
											</span>

                    </div>
                </div>
                <div class="pull-right">
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-edit txt-light"></i>
                    </a>
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-delete txt-light"></i>
                    </a>
                    <div class="pull-left inline-block dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert txt-light"></i></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Full Info</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Send Message</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                    <div class="user-others-details pl-15 pr-15">
                        <div class="mb-15">
                            <i class="zmdi zmdi-email-open inline-block mr-10"></i>
                            <span class="inline-block txt-dark">Amine.Gongi@gmail.com</span>
                        </div>
                        <div class="mb-15">
                            <i class="zmdi zmdi-phone inline-block mr-10"></i>
                            <span class="inline-block txt-dark">55000123</span>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square mr-10"></i>
                            <span class="inline-block txt-dark"><a href="https://www.facebook.com/amine.gongi/">Gongi.Amine</a> </span>
                        </div>
                    </div>
                    <hr class="light-grey-hr mt-20 mb-20"/>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default contact-card card-view">
            <div class="panel-heading bg-orange-light-2">
                <div class="pull-left">
                    <div class="pull-left user-img-wrap mr-15">
                        <img class="card-user-img img-circle pull-left" src="{{ asset('hencework.com/theme/admintres/img/user1.png') }}"  alt="user"/>
                    </div>
                    <div class="pull-left user-detail-wrap">
											<span class="block card-user-name">
												Mohamed Lahsoumi
											</span>
                    </div>
                </div>
                <div class="pull-right">
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-edit txt-light"></i>
                    </a>
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-delete txt-light"></i>
                    </a>
                    <div class="pull-left inline-block dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert txt-light"></i></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Full Info</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Send Message</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                    <div class="user-others-details pl-15 pr-15">
                        <div class="mb-15">
                            <i class="zmdi zmdi-email-open inline-block mr-10"></i>
                            <span class="inline-block txt-dark">mohamed.lahsoumi@gmail.com</span>
                        </div>

                        <div class="mb-15">
                            <i class="zmdi zmdi-phone inline-block mr-10"></i>
                            <span class="inline-block txt-dark">55000124</span>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square mr-10"></i>
                            <span class="inline-block txt-dark"><a href="https://www.facebook.com/mohamed.lahsoumi.9/">Mohamed.lahsoumi</a></span>
                        </div>
                    </div>
                    <hr class="light-grey-hr mt-20 mb-20"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default contact-card card-view">
            <div class="panel-heading bg-orange-light-2">
                <div class="pull-left">
                    <div class="pull-left user-img-wrap mr-15">
                        <img class="card-user-img img-circle pull-left" src="{{ asset('hencework.com/theme/admintres/img/user2.png') }}"  alt="user"/>
                    </div>
                    <div class="pull-left user-detail-wrap">
											<span class="block card-user-name">
												Dhaker Karous
											</span>
                    </div>
                </div>
                <div class="pull-right">
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-edit txt-light"></i>
                    </a>
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-delete txt-light"></i>
                    </a>
                    <div class="pull-left inline-block dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert txt-light"></i></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Full Info</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Send Message</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                    <div class="user-others-details pl-15 pr-15">
                        <div class="mb-15">
                            <i class="zmdi zmdi-email-open inline-block mr-10"></i>
                            <span class="inline-block txt-dark">Dhaker.karous@gmail.com</span>
                        </div>

                        <div class="mb-15">
                            <i class="zmdi zmdi-phone inline-block mr-10"></i>
                            <span class="inline-block txt-dark">55000125</span>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square mr-10"></i>
                            <span class="inline-block txt-dark"><a href="https://www.facebook.com/dhaker.karous/">dhaker.karous</a></span>
                        </div>
                    </div>
                    <hr class="light-grey-hr mt-20 mb-20"/>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default contact-card card-view">
            <div class="panel-heading bg-orange-light-2">
                <div class="pull-left">
                    <div class="pull-left user-img-wrap mr-15">
                        <img class="card-user-img img-circle pull-left" src="{{ asset('hencework.com/theme/admintres/img/user4.png') }}"  alt="user"/>
                    </div>
                    <div class="pull-left user-detail-wrap">
											<span class="block card-user-name">
												Zeineb Bellahirich
											</span>

                    </div>
                </div>
                <div class="pull-right">
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-edit txt-light"></i>
                    </a>
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-delete txt-light"></i>
                    </a>
                    <div class="pull-left inline-block dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert txt-light"></i></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Full Info</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Send Message</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                    <div class="user-others-details pl-15 pr-15">
                        <div class="mb-15">
                            <i class="zmdi zmdi-email-open inline-block mr-10"></i>
                            <span class="inline-block txt-dark">Zeineb.Bellahirich@gmail.com</span>
                        </div>

                        <div class="mb-15">
                            <i class="zmdi zmdi-phone inline-block mr-10"></i>
                            <span class="inline-block txt-dark">55000126</span>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square  mr-10"></i>
                            <span class="inline-block txt-dark"> <a href="https://www.facebook.com/zainouba.zainab/">Zeineb.bellahirich</a> </span>
                        </div>
                    </div>
                    <hr class="light-grey-hr mt-20 mb-20"/>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default contact-card card-view">
            <div class="panel-heading bg-orange-light-2">
                <div class="pull-left">
                    <div class="pull-left user-img-wrap mr-15">
                        <img class="card-user-img img-circle pull-left" src="{{ asset('hencework.com/theme/admintres/img/user3.png') }}"  alt="user"/>
                    </div>
                    <div class="pull-left user-detail-wrap">
											<span class="block card-user-name">
												Nour Dziri
											</span>

                    </div>
                </div>
                <div class="pull-right">
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-edit txt-light"></i>
                    </a>
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-delete txt-light"></i>
                    </a>
                    <div class="pull-left inline-block dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert txt-light"></i></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Full Info</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Send Message</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                    <div class="user-others-details pl-15 pr-15">
                        <div class="mb-15">
                            <i class="zmdi zmdi-email-open inline-block mr-10"></i>
                            <span class="inline-block txt-dark">Nour.Dziri@gmail.com</span>
                        </div>

                        <div class="mb-15">
                            <i class="zmdi zmdi-phone inline-block mr-10"></i>
                            <span class="inline-block txt-dark">55000127</span>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square  mr-10"></i>
                            <span class="inline-block txt-dark"> <a href="https://www.facebook.com/noouur52992/">Nour.dziri</a> </span>
                        </div>
                    </div>
                    <hr class="light-grey-hr mt-20 mb-20"/>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default contact-card card-view">
            <div class="panel-heading bg-orange-light-2">
                <div class="pull-left">
                    <div class="pull-left user-img-wrap mr-15">
                        <img class="card-user-img img-circle pull-left" src="{{ asset('hencework.com/theme/admintres/img/user6.png') }}"  alt="user"/>
                    </div>
                    <div class="pull-left user-detail-wrap">
											<span class="block card-user-name">
												Youssef haffar
											</span>

                    </div>
                </div>
                <div class="pull-right">
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-edit txt-light"></i>
                    </a>
                    <a class="pull-left inline-block mr-15" href="#">
                        <i class="zmdi zmdi-delete txt-light"></i>
                    </a>
                    <div class="pull-left inline-block dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert txt-light"></i></a>
                        <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Full Info</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Send Message</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                    <div class="user-others-details pl-15 pr-15">
                        <div class="mb-15">
                            <i class="zmdi zmdi-email-open inline-block mr-10"></i>
                            <span class="inline-block txt-dark">youssef@gmail.com</span>
                        </div>

                        <div class="mb-15">
                            <i class="zmdi zmdi-phone inline-block mr-10"></i>
                            <span class="inline-block txt-dark">55000127</span>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square  mr-10"></i>
                            <span class="inline-block txt-dark"> <a>youssef</a> </span>
                        </div>
                    </div>
                    <hr class="light-grey-hr mt-20 mb-20"/>

                </div>
            </div>
        </div>
    </div>
{% endblock %}