{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
        {% for users in user %}
            <tr>
                <th>Id</th>
                <td>{{ users.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ users.cIN }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ users.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ users.prenom }}</td>
            </tr>
            <tr>
                <th>Typevoiture</th>
                <td>{{ users.typeVoiture }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ users.matricule }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ users.telephone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('homepage') }}">Back to the list</a>
        </li>
        <li>
            <a >Edit</a>
        </li>
        <li>

        </li>
    </ul>
{% endblock %}
